:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 }
a img,:link img,:visited img { border:none }
address { font-style:normal }

body, html {
  background-color: #eee;
  color: #111;
  font: 10px/18px Verdana, Tahoma, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 2em;
  margin: 1em .5em;
}

a, a:visited {
  color: #111;
  text-decoration: underline;
}
a:hover { color: #777; }

#wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
}

.overlay {
  position: absolute;
  z-index: 100;
  border: 1px solid #666;
  margin: 0;
  background-color: #999;
  color: #111;
  -moz-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px #999;
  box-shadow: 2px 2px 2px #999;
}

#tools {
  top: 10px;
  left: -1px;
  padding: 5px;
  text-align: center;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#toolbox-list {
  float: left;
}

#toolbox-list li {
  margin-bottom: 3px;
}

#toolbox-list img {
  border: 2px solid #eee;
  height: 32px;
}

#toolbox-list a {
  display: block;
  padding-right: 8px;
  width: 32px;
}

#toolbox-list a.active{
  background: transparent url('/images/right.png') no-repeat right center;
}

#toolbox-wrapper {
  position: absolute;
  right: -10px;
  top: 3px;
  display: none;
  padding: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-style: none;
}

#tools canvas {
  border: 2px solid #eee;
  float: right;
  background-color: #999;
}

#tools img {
  display: block;
  margin: 0 auto;
}

#tools img.action {
  cursor: pointer;
}

/*#tools div.zoom {
  margin: 20px 0;
  display: inline;
}

#tools div.zoom img {
  margin: 5px auto;
}*/

#tools > img {
  margin: 10px auto;
}

#menu {
  top: -1px;
  right: 50px;
  padding: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #777;
  background-color: #ddd;
}

#menu li {
  display: inline;
  padding: 0 12px 0 6px;
  border-right: 1px solid #777;
}

#menu li.last {
  border-right-style: none;
}

#menu img {
  vertical-align: top;
  cursor: pointer;
}

#menu a {
  font-size: 10px;
  color: #111;
}

#menu a:hover {
  text-decoration: underline;
}

#foot {
  bottom: -1px;
  right: 10px;
  margin-top: 1.5em !important;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #bbb;
  background-color: #eee;
  padding: 5px;
}

#foot li {
  display: inline;
  padding: 0 8px;
}

#foot li {
  display: inline;
  padding: 0 12px 0 6px;
  border-right: 1px solid #bbb;
}

#foot li.last {
  border-right-style: none;
}

#foot img {
  vertical-align: top;
  cursor: pointer;
}

#foot a {
  font-size: 10px;
  color: #999;
}

#foot:hover, #foot:hover a {
  border-color: #777;
  color: #111;
}

#google {
  bottom: -6px;
  left: 10px;
  margin-top: 1.5em !important;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #bbb;
  background-color: #eee;
  padding: 5px;
}

canvas {
/*  border: 1px solid #666;
  height: 100%;
  width: 100%; */
}

#help, #about, #links, #parseError, #feedback {
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  padding: 1em 1.5em 2.5em;
  background-color: #ddd;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 101;
}

#links input {
  padding: 5px;
  width: 300px;
  float: right;
}

#links label {
  float: left;
  padding: 5px;
  clear: left;
}

.close {
  float: right;
  cursor: pointer;
  margin-right: -.5em;
}

#help p, #about p {
  margin: .5em; 
}

#help ol {
  margin-left: 2em;
  list-style: decimal;
}

#help ol li {
  margin-left: 1em;
}

img#terrain {
  display: none;
}

#about {
  width: 745px;
  margin-left: -370px;
}

.mojang {
  padding-top: 1em;
  color: #777;
}

.mojang a {
  color: #777;
  
}